.customer-details {
    background-color: #f0f0f06b;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  
  
  }
  
  .detail-name {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    
  }
  
  .detail-title {
    width: 68%;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
   
  }
  
  .photo-grid {
    padding-top: 50px;
    text-align: center;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: auto;
    
  }
  
  .photo {
    width: 200px;
    height: 160px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    padding: 5px;
  }

  @media screen and (max-width : 768px) {
    .photo-grid {
      padding-top: 50px;
      text-align: center;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      margin: auto;
      
    }
  
    
  }