#customer-list {
    display: flex;
    flex-direction: column;
    width: 300px;
    overflow-y: auto;
    

  }
  
  .customer-card {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-left: 20px;
    background-color: white;
  }
  
  .customer-card.selected {
    background-color: #f0f0f0;
  }
  
  .customer-info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
  }
  
  .customer-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
  }
  
  .customer-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding-top: 10px;
  }
  
  .customer-details {
    flex: 1;
    padding: 20px;
  }
  
  .detail-row {
    margin-bottom: 10px;
  }
  
  .detail-label {
    font-weight: bold;
  }
  span{
    font-weight: bold;
  }
  
            
  /* Scrollbar */
#customer-list::-webkit-scrollbar {
    width: 3px; /* Set the width of the scrollbar */
  }
  
  /* Track */
  #customer-list::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }
  
  /* Handle */
  #customer-list::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
  }
  
  /* Handle on hover */
  #customer-list::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
  }
  

  .responsive{
    display: block !important;
    z-index: 12;
    position: absolute;
    left: 0;
    
  
  }

  /* #customer-list .responsive{
    background-color: red;

  } */
@media screen and (max-width : 768px) {
  #customer-list{
    display: none;
    width: 200px;
  }

  
}
  